@media screen and (max-width: 1185px) {
  .rewiev {
    padding: 114px 0 200px;
  }
  .rewiev h2 {
    margin-bottom: 93px;
  }
  .rewiev .card blockquote {
    padding: 35px 40px 0px 40px;
    text-align: justify;
  }
  .rewiev .card .author {
    margin-bottom: 20px;
  }

  footer {
    padding: 10% 0 5%;
  }
}
@media screen and (max-width: 1000px) {
  .choose_us {
    padding: 10% 0;
  }
  .choose_us .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
  .choose_us .col_left {
    padding-top: 0px;
  }

  .tools {
    padding-bottom: 6%;
  }
  .tools .wrap_top {
    padding: 0px 10%;
  }
  .tools .wrap_bot {
    padding: 15px 5%;
  }
  .tools .wrap_bot .text {
    font-size: 1.625rem;
  }

  .spain_1,
.spain_2 {
    padding: 17% 0 10%;
  }

  .rewiev h2 {
    margin-bottom: 93px;
  }
  .rewiev .card blockquote {
    padding: 20px 20px 0px 20px;
    text-align: justify;
  }
}
@media screen and (max-width: 900px) {
  .rewiev {
    padding: 10% 0 15%;
  }
  .rewiev h2 {
    margin-bottom: 7%;
  }
  .rewiev .card {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .rewiev .card img {
    width: 100%;
  }
  .rewiev .card blockquote {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header_nav {
    height: 80px;
    font-family: "Aleo", sans-serif;
    background-color: #5474fd;
    overflow: hidden;
  }
  .header_nav .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 80px;
  }
  .header_nav .logo {
    width: 140px;
    padding: 30px 0;
  }
  .header_nav ul {
    gap: 20px;
  }

  .choose_us {
    padding: 10% 0;
  }
  .choose_us .col_left {
    max-width: 55%;
    padding-top: 0px;
  }
  .choose_us .col_left h2 {
    font-size: 1.875rem;
    margin-bottom: 20px;
  }
  .choose_us .col_left .subtitle,
.choose_us .col_left .subtitle_2 {
    margin-bottom: 20px;
    line-height: 22px;
  }
  .choose_us .col_right {
    width: 45%;
  }

  .spain_1,
.spain_2 {
    padding: 15% 0 10%;
  }
  .spain_1 .item,
.spain_2 .item {
    padding: 30px;
  }
  .spain_1 .item .overhead,
.spain_2 .item .overhead {
    margin-bottom: 20px;
  }
  .spain_1 .item h5,
.spain_2 .item h5 {
    margin-bottom: 20px;
  }
  .spain_1 .item p,
.spain_2 .item p {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 700px) {
  .choose_us {
    padding: 10% 0;
  }
  .choose_us .wrap {
    gap: 10px;
  }
  .choose_us .col_left {
    max-width: 50%;
    padding-top: 0px;
  }
  .choose_us .col_left h2 {
    font-size: 1.875rem;
    margin-bottom: 20px;
  }
  .choose_us .col_left .subtitle,
.choose_us .col_left .subtitle_2 {
    margin-bottom: 20px;
    line-height: 22px;
  }
  .choose_us .col_right {
    max-width: 50%;
    width: 50%;
  }

  .tools .wrap_bot {
    padding: 15px 3%;
  }

  #main_menu {
    display: none;
  }

  #hamburger_menu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .choose_us {
    padding: 10% 0;
  }
  .choose_us .wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0px;
  }
  .choose_us .col_left {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .choose_us .col_left .subtitle,
.choose_us .col_left .subtitle_2 {
    text-align: left;
  }
  .choose_us .col_right {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .choose_us .col_right .pic_1 {
    margin-right: 10px;
  }
  .choose_us .col_right .pic_1,
.choose_us .col_right .pic_2 {
    float: none;
    width: 50%;
  }

  .tools {
    padding: 10% 0;
  }
  .tools .wrap_top {
    padding: 0px 6.5%;
  }
  .tools .wrap_top .icon svg {
    width: 50px;
    height: 50px;
  }
  .tools .wrap_top .duga {
    display: none;
  }
  .tools .wrap_bot {
    padding: 10px 0;
  }
  .tools .wrap_bot .text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 550px) {
  .rewiev {
    padding: 10% 0 15%;
  }
  .rewiev h2 {
    margin-bottom: 7%;
  }
  .rewiev .card {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .rewiev .card .pic {
    max-width: 100%;
  }
  .rewiev .card .pic img {
    width: 100%;
  }
  .rewiev .card blockquote {
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  .choose_us .col_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
  .choose_us .col_right .pic_1,
.choose_us .col_right .pic_2 {
    width: 95%;
    margin: 0 auto;
  }

  .tools .wrap_top {
    padding: 0px 8%;
  }
}
@media screen and (max-width: 450px) {
  .tools .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tools .wrap_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .tools .wrap_top .icon svg {
    width: 62px;
    height: 62px;
  }
  .tools .wrap_top .icon:hover svg {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .tools .wrap_top a {
    display: block;
    padding: 5px 15px;
  }
  .tools .wrap_bot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
  }
  .tools .wrap_bot .text {
    font-size: 1.625rem;
  }
  .tools .wrap_bot a {
    display: block;
    padding: 17px 5px;
  }
}