@import "hamburger";

$base_size:16;//коэффициент по умолчанию
@mixin fz($size_px) {
    font-size: ($size_px/$base_size)+rem;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

img {
    vertical-align: top;
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Josefin', sans-serif;
    font-size: 1rem;
    color: #e8e8e8;
    min-width: 350px;
}

.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}

.clear {
    clear: both;
    height: 0;
    display: block;
    line-height: 0;
}


.btn {
    width: 225px;
    height: 60px;
    font-family: 'Aleo', sans-serif;
    background-color: #5474fd;
    color: #e8e8e8;
    text-transform: uppercase;
    border: none;
    @include fz(16);
    letter-spacing: 1.2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    span {
        z-index: 5;
        position: relative;
    }
    &::before {
        content: '';
        background-color: #496bfe;
        display: block;
        width: 285px;
        height: 60px;
        position: absolute;
        top: 0;
        left: -175px;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        border-right: 60px solid #5474fd;
        border-bottom: 60px solid #496bfe;
    }
    &:hover::before {
        left: 0;
    }
    &:focus {
        outline: 3px solid #fff;
    }
}

a:focus {
    outline: 3px solid #fff;
}

/*====================mobile===============*/

#hamburger_menu {
    display: none;
}

.hamburger {
    padding: 0;
    .hamburger-box {
        .hamburger-inner {
            top: 10px;
            background-color: #fff;
            &::before,
            &::after {
                background-color: #fff;
                top: 10px;
            }
            &::after {
                top: 20px;
            }
        }
    }
}

#page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
}

#mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -500px;
    background-color: #5474fd;
    height: 100vh;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #333333;
            box-shadow: 0 0 10px #333333;
    max-width: 350px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1000;
    &.top {
        max-width: 100%;
        height: auto;
        min-height: 200px;
    }
}

.sidemenu_top {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    .mobile_logo {
            img{
                width: 180px;
            }
        }
    .hamburger-box {
            height: 34px;
    }
}
.sidemenu {
    li {
        position: relative;
        a {
            display: inline-block;
            padding: 15px;
            text-decoration: none;
            @include fz(20);
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            color: #fff;
            position: relative;
            overflow: hidden;
            &:active {
                color: #ff6363;
            }
            &::after {
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                border-right: 25px solid #fff;
                border-left: 25px solid transparent;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                position: absolute;
                top: 0px;
                right: -20px;
                z-index: 9;
            }
            &::before {
                content: '';
                display: block;
                width: 26px;
                height: 26px;
                border-right: 13px solid #5474fd;
                border-left: 13px solid transparent;
                border-top: 13px solid transparent;
                border-bottom: 13px solid transparent;
                position: absolute;
                top: 12px;
                right: -20px;
                z-index: 10;

            }
            &:focus {
                outline: 3px solid #fff;
                border-left: 3px solid #fff;
                &:after {
                    right: 0px;
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                }
                &::before {
                    right: 3px;
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                }
            }
        }
    }
}
.open {
    #page_overlay {
        display: block;
    }
    #mobile_menu_wrap {
        left: 0px;
    }
}
/*====================header===============*/
.header_top {
    background-size: cover;
    height: 740px;
    padding-top: 265px;
    .container {
        text-align: center;
    }
    .logo {
        margin-bottom: 15px;
        img {
            width: auto;
        }
    }
    .sublogo {
        font-weight: 300;
        @include fz(22);
        margin-bottom: 48px;
        letter-spacing: 5.5px;
        word-spacing: 3px;
    }
    
    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    input {
        width: 500px;
        height: 60px;
        text-align: center;
        border: none;
        font-family: 'Josefin';
        color: #999999;
        letter-spacing: 2px;
        border: 2px solid transparent;
        &:focus {
            @include fz(26);
        }
        &:focus::placeholder {
            color: transparent;
        }
    }
    .btn_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 150px;
        height: 60px;
        @include fz(14);
        font-family: 'Aleo', sans-serif;
        color: #e8e8e8;
        line-height: 60px;
        background-color: #5474fd;
        border: 2px solid #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding-right: 13px;
        cursor: pointer;
        svg {
            width: 25px;
            height: 25px;
            margin-left: 10px;
            fill: #e8e8e8;
        }
        &:hover {
            background-color: #496bfe;;
        }
    }
    .search {
        margin-bottom: 120px;
    }
    .scroll {
        font-weight: 300;
        letter-spacing: 2px;
        @include fz(14);
        &::after {
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            border-right: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            margin: 8px auto 0;
        }
    }
}

.header_nav {
    height: 80px;
    font-family: 'Aleo', sans-serif;
    background-color: #5474fd;
    overflow: hidden;
    .wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        line-height: 80px;
    }
    .logo {
        padding: 30px 0;
            a {
                display: block;
                height: 20px;
            }
        img {
            width: 156px;
        }
    }
    ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 42px;
        li {
            display: inline-block;
            a {
                position: relative;
                padding: 14px 0;
                text-transform: uppercase;
                color: #e8e8e8;
                @include fz(14);
                &:hover{
                    &::after {
                        bottom: 0px;
                        -webkit-transition: all .5s ease;
                        -o-transition: all .5s ease;
                        transition: all .5s ease;
                    }
                }
                &::after {
                    content: '';
                    display: block;
                    background-color: #496bfe;
                    height: 5px;
                    width: 100%;
                    position: absolute;
                    bottom: -30px;
                }
            }
            &:hover {
                -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                        transform: scale(1.2);
                -webkit-transition: all .7s ease;
                -o-transition: all .7s ease;
                transition: all .7s ease;
            }
        }
    }
    &.scrolled {
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}
/*====================main===============*/
.mt {
    margin-top: 80px;
}
.choose_us {
    -webkit-box-shadow: inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
            box-shadow: inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
    background-position: center center;
    background-size: cover;
    background-color: #473e3b;
    padding: 120px 0;
    .wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 30px;
    }
    .col_left {
        max-width: 531px;
        padding-top: 78px;
        h2 {
            font-family: 'Aleo';
            @include fz(36);
            font-weight: normal;
            margin-bottom: 57px;
            letter-spacing: 2px;
        } 
        .subtitle {
            margin-bottom: 26px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 1px;
        }
        .subtitle_2 {
            margin-bottom: 42px;
        }
    }
    .col_right {
        max-width: 475px;
        .pic_1 {
            float: left;
            margin-bottom: 5px;
        }
        .pic_2 {
            float: right;
        }
    }
}

.tools {
    background-color: #333333;
    padding-bottom: 98px;
    .wrap_top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 0px 140px;
        .icon {
            svg {
                width: 71px;
                height: 71px;
            }
            .search {
                fill: #5474fd;
            }
            .check {
                fill: #ff6363;
            }
            .like {
                fill: #00a2ff;
            }
            &:hover svg{
                -webkit-transform: rotateZ(360deg);
                    -ms-transform: rotate(360deg);
                        transform: rotateZ(360deg);
                -webkit-transition: all .6s ease;
                -o-transition: all .6s ease;
                transition: all .6s ease;
            }
        }
        .duga {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            padding-bottom: 45px;
            svg {
                height: 120px;
                width: 100%;
            }
        }
    }
    .wrap_bot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 15px 67px;
        .text {
            font-family: 'Aleo';
            font-weight: 400;
            @include fz(36);
        }
        a {
            color: #e8e8e8;
        }
    }
}

.spain {
    background-size: cover;
    background-position: center center;
    padding: 230px 0 100px;
    .item {
        padding: 50px 30px;
        max-width: 540px;
        background-color: #232323eb;
        .overhead {
            @include fz(20);
            margin-bottom: 29px;
        }
        h5 {
            letter-spacing: -0.7px;
            text-transform: uppercase;
            @include fz(20);
            margin-bottom: 21px;
            font-weight: 300;
        }
        p {
            font-weight: 300;
            margin-bottom: 42px;
            letter-spacing: -0.6px;
            line-height: 26px;
        }
    }
}

.spain_1 {
    background-color: #aba7be;
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}

.spain_2 {
    background-color: #f47860;
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}

.rewiev {
    -webkit-box-shadow: inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
            box-shadow: inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
    background-position: center center;
    background-size: cover;
    background-color: #232323;
    text-align: center;
    padding: 114px 0 200px;
    h2 {
        font-family: 'Aleo';
        font-weight: normal;
        margin-bottom: 93px;
        @include fz(36);
        word-spacing: 3px;
    }
    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: left;
        background-color: #333333;
        .pic {
            width: 100%;
            text-align: center;
            img {
                width: auto;
            }
        }
        blockquote {
            padding: 51px 55px 0px 60px;
        }
        .author {
            text-align: center;
            color: #fefefe;
            @include fz(20);
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 36px;
            letter-spacing: -0.8px;
        }
        i {
            color: #5474fd;
            position: absolute;
            top: -10px;
            left: -6px;
            @include fz(21);
        }
        
        .quote {
            word-spacing: 0.8px;
            letter-spacing: -0.8px;
            font-weight: 300;
            line-height: 26px;
            position: relative;
            &::first-letter {
                margin-left: 6px;
            }
        }
    }
}

footer {
    background-color: #232323;
    padding: 120px 0 67px;
    .wrap {
        max-width: 162px;
        margin: 0 auto;
    }
    .subtitle {
        letter-spacing: 0.5px;
        font-weight: 300;
        margin-bottom: 29px;
    }
    .logo {
        width: 162px;
        margin-bottom: 15px;
    }
    a {
        display: block;
    }
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        i {
            color: #e8e8e8;
            &:hover {
                color: #5474fd;
            }
            &:active {
                color: #ff6363;
            }
        }
        li {
            &:hover {
                -webkit-transform: scale(2);
                    -ms-transform: scale(2);
                        transform: scale(2);
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
        }
    }
}